<%- include("header") %>
                                
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="/"><img src="/static/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a>
                                </li>
                                <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer &
                                        Office</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer
                                        Electronics</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother &
                                        Kids</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Home</a>
                                <ul class="dropdown">
                                    <li><a href="/">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                    <li><a href="index-4.html">Home 4</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="shop-grid-right.html">shop</a>
                                <ul class="dropdown">
                                    <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                    <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                    <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                    <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                    <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Single Product</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                            <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                            <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-filter.html">Shop – Filter</a></li>
                                    <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                    <li><a href="shop-cart.html">Shop – Cart</a></li>
                                    <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                    <li><a href="shop-compare.html">Shop – Compare</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega
                                    menu</a>
                                <ul class="dropdown">
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Women's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Dresses</a></li>
                                            <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                            <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                            <li><a href="shop-product-right.html">Women's Sets</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Men's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Jackets</a></li>
                                            <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                            <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Technology</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                            <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                            <li><a href="shop-product-right.html">Tablets</a></li>
                                            <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                            <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="blog-category-fullwidth.html">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                    <li><a href="blog-category-list.html">Blog Category List</a></li>
                                    <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                    <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Single Product Layout</a>
                                        <ul class="dropdown">
                                            <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                            <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                            <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="page-about.html">About Us</a></li>
                                    <li><a href="page-contact.html">Contact</a></li>
                                    <li><a href="page-account.html">My Account</a></li>
                                    <li><a href="page-login-register.html">login/register</a></li>
                                    <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                    <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="page-terms.html">Terms of Service</a></li>
                                    <li><a href="page-404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                                <ul class="dropdown">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login-register.html">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="/static/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="/static/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="/static/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="/static/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="/static/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span>
                    <%= prod.title %>
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">
                                            <figure class="border-radius-10">
                                                <img src="/static/uploads/<%= prod.images[0] %>" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="/static/uploads/<%= prod.images[1] %>" alt="product image">
                                            </figure>
                                            <figure class="border-radius-10">
                                                <img src="/static/uploads/<%= prod.images[2] %>" alt="product image">
                                            </figure>

                                        </div>
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                            <div><img src="/static/uploads/<%= prod.images[0] %>" alt="product image">
                                            </div>
                                            <div><img src="/static/uploads/<%= prod.images[1] %>" alt="product image">
                                            </div>
                                            <div><img src="/static/uploads/<%= prod.images[2] %>" alt="product image">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Gallery -->
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail">
                                            <%= prod.title %>
                                        </h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span> Brand: <a href="#">
                                                        <%= prod.brand.brand %>
                                                    </a></span>
                                            </div>
                                            <div class="product-rate-cover text-end">
                                                <!-- <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width:90%">
                                                    </div>
                                                </div> -->
                                                <!-- <span class="font-small ml-5 text-muted"> (25 reviews)</span> -->
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <ins><span class="text-brand">₹<%= prod.price %></span></ins>
                                                <ins><span class="old-price font-md ml-15">₹<%= prod.oldPrice %>
                                                            </span></ins>
                                                <span class="save-price  font-md color3 ml-15">
                                                    <%= prod.offer %> Off
                                                </span>
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <p>
                                                <%= prod.description %>
                                            </p>
                                        </div>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <!-- <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera
                                                    Brand Warranty</li> -->
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 7 Day Return
                                                    Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available
                                                </li>
                                            </ul>
                                        </div>

                                        <!-- <div class="attr-detail attr-size">
                                            <strong class="mr-10">Size</strong>
                                            <ul class="list-filter size-filter font-small">
                                                <li><a href="#" class="size-link" data-size="S">S</a></li>
                                                <li><a href="#" class="size-link" data-size="M">M</a></li>
                                                <li><a href="#" class="size-link" data-size="L">L</a></li>
                                                <li><a href="#" class="size-link" data-size="XL">XL</a></li>
                                            </ul>
                                        </div> -->
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink">
                                           
                                            <div class="product-extra-link2 d-flex">
                                                <!-- <button type="submit" class="button button-add-to-cart">Add to cart</button> -->
                                                <% if (prod.stock == 0) { %>
                                                    <p style="color: red;">Out of Stock</p>
                                                   <% }else{ %>
                                                    <a href="#" onclick="addcart('<%= prod._id %>')" style="background-color: #f05321; color: white; padding: 0 10px; width:93px;">Add to Cart</a>
                                                       <% } %>
                                               <% if (prod.inWishlist) { %>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up"href="#" onclick="addwishlist('<%= prod._id %>')" ><i class="fa-solid fa-heart" style="color: #f05321;"></i></a>
                                               <% }else{ %>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up"href="#" onclick="addwishlist('<%= prod._id %>')" ><i class="fi-rs-heart"></i></a>
                                                <%} %>
                                            </div>
                                        </div>
                                        <input type="hidden" id="productId" value="<%= prod._id %>">
                                        <ul class="product-meta font-xs color-grey mt-50">
                                            <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#" rel="tag">Dress</a></li>
                                            <li id="stock-display-container"> 
                                                <li class="stock-info" >
                                                  Availability:<span class="in-stock text-success ml-5"> <%= prod.stock %></span>
                                                </li>
                                            </li>
                                          </ul>
                                    </div>
                                    <!-- Detail Info -->
                                    <!-- <h3>Sold Out</h3> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 m-auto entry-main-content">
                                    <h2 class="section-title style-1 mb-30">Description</h2>
                                    <div class="description mb-50">
                                        <p>
                                            <%= prod.description %>
                                        </p>

                                        <ul class="product-more-infor mt-30">
                                            <li><span>Fabric</span>
                                                <%= prod.fabric %>
                                            </li>
                                            <li><span>Color</span>
                                                <%= prod.color %>
                                            </li>
                                            <li><span>Brand</span>
                                                <%= prod.brand.brand %>
                                            </li>
                                            <li><span>Style</span>
                                                <%= prod.style %>
                                            </li>
                                        </ul>
                                        <hr class="wp-block-separator is-style-dots">
                                        <p>Laconic overheard dear woodchuck wow this outrageously taut beaver hey hello
                                            far meadowlark imitatively egregiously hugged that yikes minimally unanimous
                                            pouted flirtatiously as beaver beheld above forward
                                            energetic across this jeepers beneficently cockily less a the raucously that
                                            magic upheld far so the this where crud then below after jeez enchanting
                                            drunkenly more much wow callously irrespective limpet.</p>
                                        <h4 class="mt-30">Packaging & Delivery</h4>
                                        <hr class="wp-block-separator is-style-wide">
                                        <p>Less lion goodness that euphemistically robin expeditiously bluebird smugly
                                            scratched far while thus cackled sheepishly rigid after due one assenting
                                            regarding censorious while occasional or this more crane
                                            went more as this less much amid overhung anathematic because much held one
                                            exuberantly sheep goodness so where rat wry well concomitantly.
                                        </p>
                                        <p>Scallop or far crud plain remarkably far by thus far iguana lewd precociously
                                            and and less rattlesnake contrary caustic wow this near alas and next and
                                            pled the yikes articulate about as less cackled dalmatian
                                            in much less well jeering for the thanks blindly sentimental whimpered less
                                            across objectively fanciful grimaced wildly some wow and rose jeepers
                                            outgrew lugubrious luridly irrationally attractively
                                            dachshund.
                                        </p>
                                    </div>
                                    <h3 class="section-title style-1 mb-30">Additional info</h3>
                                    <table class="font-md mb-30">
                                        <tbody>
                                            <tr class="stand-up">
                                                <th>Title</th>
                                                <td>
                                                    <p>
                                                        <%= prod.title %>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr class="stand-up">
                                                <th>Category</th>
                                                <td>
                                                    <p>
                                                        <%= prod.category.category %>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr class="stand-up">
                                                <th>Brand</th>
                                                <td>
                                                    <p>
                                                        <%= prod.brand.brand %>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr class="stand-up">
                                                <th>Color</th>
                                                <td>
                                                    <p>
                                                        <%= prod.color %>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr class="stand-up">
                                                <th>Fabric</th>
                                                <td>
                                                    <p>
                                                        <%= prod.fabric %>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr class="stand-up">
                                                <th>Style</th>
                                                <td>
                                                    <p>
                                                        <%= prod.style %>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr class="stand-up">
                                                <th>Size</th>
                                                <td>
                                                    <p>S, M, L, XL, XXL</p>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                    <div class="social-icons single-share">
                                        <ul class="text-grey-5 d-inline-block">
                                            <li><strong class="mr-10">Share this:</strong></li>
                                            <li class="social-facebook"><a href="#"><img
                                                        src="/static/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                            </li>
                                            <li class="social-twitter"> <a href="#"><img
                                                        src="/static/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                            <li class="social-instagram"><a href="#"><img
                                                        src="/static/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                            </li>
                                            <li class="social-linkedin"><a href="#"><img
                                                        src="/static/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row mt-60">
                                <div class="col-12">
                                    <h3 class="section-title style-1 mb-30">Related products</h3>
                                </div>
                                <div class="col-12">
                                    <div class="row related-products">
                                        <% prods.slice(0, 4).forEach(row => { %>
                                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                                <div class="product-cart-wrap small hover-up">
                                                    <div class="product-img-action-wrap">
                                                        <div class="product-img product-img-zoom">
                                                            <a href="shop-product-right.html" tabindex="0">
                                                                <img class="default-img" src="/static/uploads/<%= row.images[0] %>" alt="">
                                                                <img class="hover-img" src="/static/uploads/<%= row.images[2] %>" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="product-badges product-badges-position product-badges-mrg">
                                                            <span class="hot">Hot</span>
                                                        </div>
                                                    </div>
                                                    <div class="product-content-wrap">
                                                        <h2><a href="shop-product-right.html" tabindex="0"><%= row.title %></a></h2>
                                                        <div class="rating-result" title="90%">
                                                            <span></span>
                                                        </div>
                                                        <div class="product-price">
                                                            <span>₹<%= row.price %></span>
                                                            <span class="old-price">₹<%= row.oldPrice %></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <% }) %>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            
                           
                        </div>
                    </div>
                    <div class="col-lg-5">
                        
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="/"><h3>HERO CLUB</h3></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="/static/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="/static/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="/static/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="/static/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="/static/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="/static/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2024, <strong
                            class="text-brand">HERO CLUB</strong></p>
                </div>
                <div class="col-lg-6">
                    <p class="text-lg-end text-start font-sm text-muted mb-0">
                        Designed by <a href="http://alithemes.com" target="_blank">Abhishek</a>. All rights
                        reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function addcart(_id) {
            event.preventDefault();
            $.ajax({
                url: `/check-stock/${_id}`,
                type: "GET",
                success: function(response) {
                    console.log(response);
                    if (response.success) {
                        Swal.fire({
                            icon: "success",
                            title: "Added to cart successfully!",
                            showConfirmButton: true,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $.ajax({
                                    url: `/addToCart/${_id}`,
                                    type: "GET",
                                    success: function(response) {
                                        console.log("Item added to cart:", response);
                                    },
                                    error: function() {
                                        console.error("Failed to add item to cart");
                                    },
                                });
                            }
                        });
                    } else {
                        if (response.message === "Please log in to add items to your cart.") {
                            Swal.fire({
                                icon: "error",
                                title: "Login Required",
                                text: "Please login to add items to your cart.",
                                showConfirmButton: true,
                            })
                        } else {
                            Swal.fire({
                                icon: "error",
                                title: "Product is out of stock",
                                showConfirmButton: true,
                            });
                        }
                    }
                },
                error: function() {
                    Swal.fire({
                        icon: "error",
                        title: "Error occurred",
                        text: "Failed to check stock availability",
                        showConfirmButton: true,
                    });
                },
            });
        }
        
        </script>

<script>
    function addwishlist(_id) {
        event.preventDefault();
        $.ajax({
            url: `/addToWishlist/${_id}`,
            type: "GET",
            success: function(response) {
                console.log(response);
                if (response.success) {
                    Swal.fire({
                        icon: "success",
                        title: "Added to wishlist successfully!",
                        showConfirmButton: true,
                    })
                } else {
                    if (response.message === "Please log in to add items to your wishlist.") {
                        Swal.fire({
                            icon: "error",
                            title: "Login Required",
                            text: "Please login to add items to your cart.",
                            showConfirmButton: true,
                        })
                    }else if(response.message == "Product already exist in wishlist"){
                        Swal.fire({
                            icon: "error",
                            text: "Product already exist in wishlist",
                            showConfirmButton: true,
                        })
                    } else {
                        Swal.fire({
                            icon: "error",
                            title: "Please log in to add items to your wishlist.",
                            showConfirmButton: true,
                        });
                    }
                }
            },
            error: function() {
                Swal.fire({
                    icon: "error",
                    title: "Error occurred",
                    text: "Failed to check stock availability",
                    showConfirmButton: true,
                });
            },
        });
    }
    
    </script>
   
    <!-- <script>
        document.addEventListener("DOMContentLoaded", function () {
          const sizeLinks = document.querySelectorAll(".size-link");
      
          sizeLinks.forEach(function (sizeLink) {
            sizeLink.addEventListener("click", function (event) {
              event.preventDefault();
      
              const selectedSize = sizeLink.getAttribute("data-size");
              updateStockInfo(selectedSize);
            });
          });
      
          function updateStockInfo(selectedSize) {
            // Make an AJAX request to the server to get the stock information for the selected size
            const xhr = new XMLHttpRequest();
      
            xhr.onreadystatechange = function () {
              if (xhr.readyState === 4 && xhr.status === 200) {
                const stockInfo = JSON.parse(xhr.responseText);
      
                // Update the stock display container with the retrieved stock information
                const stockDisplayContainer = document.getElementById("stock-display-container");
                stockDisplayContainer.innerHTML = `<li class="stock-info">Availability: <span class="in-stock text-success ml-5">${stockInfo.stock}</span></li>`;
              }
            };
      
            xhr.open("GET", `/getStockInfo?size=${selectedSize}`, true);
            xhr.send();
          }
        });
      </script> -->
      
    
    
    
    
    
    

    <%- include("footer") %>